<section class="page_breadcrumb" style="background: url(assets/package-user/images/breadcrumb_bg.jpg);">
    <div class="breadcrumb_overlay">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_text wow fadeInUp">
                        <h1>Edit Information</h1>
                        <ul>
                            <li><a href="#"><i class="fal fa-home-lg"></i> Home</a></li>
                            <li><a href="#">Edit Information</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=========================
    BREADCRUMB START
==========================-->


<!--============================
    DASHBOARD INFO EDIT START
=============================-->
<section class="dashboard pt_120 xs_pt_80">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-4 wow fadeInLeft">
                <div class="dashboard_sidebar">
                    <div class="dashboard_sidebar_user">
                        <div class="img">
                            <img src="assets/package-user/images/dashboard_user_img.png" alt="dashboard" class="img-fluid w-100">
                            <label for="profile_photo"><i class="far fa-camera"></i></label>
                            <input type="file" id="profile_photo" hidden>
                        </div>
                        <h3>Addition Smith</h3>
                        <p>Paris, France</p>
                    </div>
                    <div class="dashboard_sidebar_menu">
                        <ul>
                            <li><a class="active" href="/dashboard"><i class="fas fa-user"></i> Personal
                                    Info</a></li>
                            <li><a href="/dashboard-order"><i class="fas fa-shopping-basket"></i> Order</a></li>
                            <!-- <li><a href="/dashboard-wishlist"><i class="fas fa-heart"></i> Wishlist</a></li>
                            <li><a href="/dashboard-change-password"><i class="fas fa-key"></i> Change
                                    Password</a></li> -->
                            <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><i
                                        class="fas fa-sign-out-alt"></i> Logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-9 col-lg-8 wow fadeInRight">
                <div class="dashboard_content">
                    <div class="dashboard_profile_info">
                        <div class="dashboard_profile_info_edit">
                            <h2>Edit Information <a routerLink="/dashboard">Cancel</a></h2>
                            <form class="info_edit_form booking_info_form" [formGroup]="editForm" (submit)="onSubmit()">
                                <div class="row">
                                    <div class="col-xl-6">
                                        <input type="text" formControlName="username"   placeholder="Name">
                                    </div>
                                    <div class="col-xl-6">
                                        <input type="email" readonly  formControlName="email" placeholder="Email">
                                    </div>
                                    <div class="col-xl-6">
                                        <input type="text" formControlName="phone"  placeholder="+880 Enter phone number">
                                    </div>
              
                                    <div class="col-xl-12">
                                        <textarea rows="6" formControlName="address" 
                                            placeholder="441, 4th street, Washington DC, USA"></textarea>
                                        <button type="submit" class="common_btn">Save Profile
                                            <span></span></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>