<section class="page_breadcrumb" style="background: url(assets/package-user/images/breadcrumb_bg.jpg);">
    <div class="breadcrumb_overlay">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_text wow fadeInUp">
                        <h1>Checkout</h1>
                        <ul>
                            <li><a href="#"><i class="fal fa-home-lg"></i> Home</a></li>
                            <li><a href="#">Checkout</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=========================
    BREADCRUMB START
==========================-->


<!--=========================
    CHECKOUT START
==========================-->
<form class="checkout_form" [formGroup]="orderForm" (submit)="onSumit()">
<section class="checkout pt_120 xs_pt_75">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 wow fadeInUp">
               
                    <h3>Billing Details</h3>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="checkout_input_box">
                                <label>User Name *</label>
                                <input type="text" readonly [value]="username" placeholder="Name">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="checkout_input_box">
                                <label>Email *</label>
                                <input type="email" readonly [value]="email" placeholder="Email">
                            </div>
                        </div>
                        <div class="col-xl-12">
                            <div class="checkout_input_box">
                                <label>Address</label>
                                <textarea rows="5" formControlName="address" placeholder="Note"></textarea>
                            </div>
                        </div>

                    </div>

            </div>
            <div class="col-lg-4 col-md-8">
                <div class="cart_sidebar" id="sticky_sidebar">
                    <h3>Total Cart (03)</h3>
                    <div class="cart_sidebar_info">
                        <h4>Subtotal : <span>{{calculateTotal() | currency: 'USD'}}</span></h4>
                       
                        <h5>Total : <span>{{calculateTotal() | currency: 'USD'}}</span></h5>
                        <button class="common_btn" type="submit">Payment <i class="fas fa-long-arrow-right"></i>
                            <span></span></button>
                    </div>
                </div>
            </div>
        
        </div>
    </div>
</section>
</form>
