<section class="page_breadcrumb" style="background: url(assets/package-user/images/breadcrumb_bg.jpg);">
    <div class="breadcrumb_overlay">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_text wow fadeInUp">
                        <h1>Personal Info</h1>
                        <ul>
                            <li><a href="#"><i class="fal fa-home-lg"></i> Home</a></li>
                            <li><a href="#">Personal Info</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=========================
    BREADCRUMB START
==========================-->


<!--=========================
    DASHBOARD INFO START
==========================-->
<section class="dashboard pt_120 xs_pt_80">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-4 wow fadeInLeft">
                <div class="dashboard_sidebar">
                    <div class="dashboard_sidebar_user">
                        <div class="img">
                            <img [src]="user?.imageUrl || 'assets/package-user/images/dashboard_user_img.png'" alt="dashboard" class="img-fluid w-100">
                            <label for="profile_photo"><i class="far fa-camera"></i></label>
                            <input type="file" id="profile_photo" hidden>
                        </div>
                        <h3>{{user?.userName}}</h3>
                    </div>
                    <div class="dashboard_sidebar_menu">
                        <ul>
                            <li><a class="active" href="/dashboard"><i class="fas fa-user"></i> Personal
                                    Info</a></li>
                            <li><a href="/dashboard-order"><i class="fas fa-shopping-basket"></i> Order</a></li>
                            
                            <!-- <li><a href="/dashboard-change-password"><i class="fas fa-key"></i> Change
                                    Password</a></li> -->
                            <li><a (click)="handleLogout()" data-bs-toggle="modal" ><i
                                        class="fas fa-sign-out-alt"></i> Logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-9 col-lg-8 wow fadeInRight">
                <div class="dashboard_content">

                    <p class="welcome">{{user?.userName}}</p>
                    <h2 class="dashboard_title">Welcome To Your Profile</h2>

                    <div class="dashboard_profile_info">

                    

                        <div class="dashboard_profile_info_list mt_25 wow fadeInUp">
                            <h2>Personal Information <a [routerLink]="['/dashboard-info-edit', user?.id]">Edit</a></h2>
                            <ul>
                                <li><span>Name:</span> {{user?.userName}}</li>
                                <li><span>Email:</span> {{user?.email}}</li>
                                <li><span>Phone:</span> {{user?.phone}}</li>
                                <li><span>Address:</span> {{user?.address}}</li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>