
<!--=========================
    BREADCRUMB START
==========================-->
<section class="page_breadcrumb" style="background: url(assets/package-user/images/breadcrumb_bg.jpg);">
    <div class="breadcrumb_overlay">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_text wow fadeInUp">
                        <h1>Order Tracking</h1>
                        <ul>
                            <li><a href="#"><i class="fal fa-home-lg"></i> Home</a></li>
                            <li><a href="#">Tracking</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=========================
    BREADCRUMB START
==========================-->


<!--=========================
    ORDER TRACKING START
==========================-->
<section class="order_tracking pt_120 xs_pt_80">
    <div class="container">
        <div class="row wow fadeInUp">
            <div class="col-xl-5 col-md-8 col-lg-6 m-auto">
                <div class="tracking_form">
                    <h2>Order Tracking</h2>
                    <p>Tracking Your Order Statue</p>
                    <form>
                        <input type="text" placeholder="Order ID">
                        <input type="email" placeholder="Email address">
                        <button type="submit" class="common_btn">Track Order<span></span></button>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="tracking_info mt_70">
                    <ul class="tracking_header wow fadeInUp">
                        <li>
                            <h4>Order Placed</h4>
                            <p>May 30, 2023</p>
                        </li>
                        <li>
                            <h4>Total Amount</h4>
                            <p>$2565.52</p>
                        </li>
                        <li>
                            <h4>Ship To</h4>
                            <p>jhon deo</p>
                        </li>
                        <li>
                            <h4>Order No</h4>
                            <p>#25653</p>
                        </li>
                    </ul>

                    <ul class="tracking_bar mt_75 wow fadeInUp">
                        <li class="active">Order Pending</li>
                        <li class="active">Order Processing</li>
                        <li class="">On The Way</li>
                        <li class="">Ready For Delivery</li>
                    </ul>

                    <div class="tracking_details mt_65 xs_mt_35 wow fadeInUp">
                        <div class="table-responsive">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th>Quantity</th>
                                        <th>Subtotal</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Cillum dolore tortor nisl X 01</td>
                                        <td>03</td>
                                        <td>$250.00</td>
                                    </tr>
                                    <tr>
                                        <td>Auctor gravida pellentesque X 02</td>
                                        <td>03</td>
                                        <td>$250.00</td>
                                    </tr>
                                    <tr>
                                        <td>Condimentum posuere consectetur X 01</td>
                                        <td>02</td>
                                        <td>$12.00</td>
                                    </tr>
                                    <tr>
                                        <td>Habitasse dictumst elementum X 01</td>
                                        <td>04</td>
                                        <td>$100.00</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="2">Total :</td>
                                        <td>$100.00</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <a class="common_btn" href="#"><i class="fas fa-long-arrow-left"></i> Back To Order
                            <span></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>