
<!--=========================
    BREADCRUMB START
==========================-->
<section class="page_breadcrumb" style="background: url(assets/package-user/images/breadcrumb_bg.jpg);">
    <div class="breadcrumb_overlay">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_text wow fadeInUp">
                        <h1>Sign Up</h1>
                        <ul>
                            <li><a href="#"><i class="fal fa-home-lg"></i> Home</a></li>
                            <li><a href="#">Sign Up</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=========================
    BREADCRUMB START
==========================-->


<!--=========================
    SIGN UP PAGE START
==========================-->
<section class="sign_up pt_120 xs_pt_80">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xxl-3 col-lg-4 d-none d-lg-block wow fadeInLeft">
                <div class="sign_in_img">
                    <img src="assets/package-user/images/sign_in_img_2.jpg" alt="Sign In" class="img-fluid w-100">
                </div>
            </div>
            <div class="col-xxl-5 col-md-10 col-lg-7 col-xl-6 wow fadeInRight">
                <div class="sign_in_form">
                    <h3>Sign Up to Continue 👋</h3>
                     <form [formGroup]="signUpModuleForm"  (ngSubmit)="onSubmit()" >
                        <input type="text" formControlName="username" placeholder="Enter name">
                        <div *ngIf="signUpModuleForm.get('username')?.invalid && signUpModuleForm.get('username')?.touched" class="text-danger">
                            Username is required
                          </div>
                        <input type="email" formControlName="email" placeholder="Enter email address">
                        <div *ngIf="signUpModuleForm.get('email')?.invalid && signUpModuleForm.get('email')?.touched" class="text-danger">
                        <div *ngIf="signUpModuleForm.get('email')?.hasError('required')">Email is required</div>
                            <div *ngIf="signUpModuleForm.get('email')?.hasError('email')">Invalid email format</div>
                          </div>
                        <input type="password" formControlName="password" placeholder="Password">
                        <div *ngIf="signUpModuleForm.get('password')?.invalid && signUpModuleForm.get('password')?.touched" class="text-danger">
                            Password is required
                          </div>
                        <input type="password" formControlName="confirm_password" placeholder="Confirm password">
                        <div *ngIf="signUpModuleForm.get('confirm_password')?.invalid && signUpModuleForm.get('confirm_password')?.touched" class="text-danger">
                            <div *ngIf="signUpModuleForm.get('confirm_password')?.hasError('required')">Confirm Password is required</div>
                            <div *ngIf="signUpModuleForm.get('confirm_password')?.hasError('passwordMismatch')">Passwords do not match</div>
                          </div>
                        <button type="submit" class="common_btn">Sign Up<span></span></button>
                    </form> -
                   
                    <p class="dont_account">Already have an account?
                        <a [routerLink]="['/sign-in']" 
                      >
                        Sign In
                      </a>
                    </p>
                   
                </div>
            </div>
        </div>
    </div>
</section>