
<!--=========================
    BREADCRUMB START
==========================-->
<section class="page_breadcrumb" style="background: url(assets/package-user/images/breadcrumb_bg.jpg);">
    <div class="breadcrumb_overlay">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_text wow fadeInUp">
                        <h1>Sign Up</h1>
                        <ul>
                            <li><a href="#"><i class="fal fa-home-lg"></i> Home</a></li>
                            <li><a href="#">Sign Up</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=========================
    BREADCRUMB START
==========================-->


<!--=========================
    SIGN UP PAGE START
==========================-->
<section class="sign_up pt_120 xs_pt_80">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xxl-3 col-lg-4 d-none d-lg-block wow fadeInLeft">
                <div class="sign_in_img">
                    <img src="assets/package-user/images/sign_in_img_2.jpg" alt="Sign In" class="img-fluid w-100">
                </div>
            </div>
            <div class="col-xxl-5 col-md-10 col-lg-7 col-xl-6 wow fadeInRight">
                <div class="sign_in_form">
                    <h3>Sign Up to Continue 👋</h3>
                    <form>
                        <input type="text" placeholder="Enter name">
                        <input type="email" placeholder="Enter email address">
                        <input type="password" placeholder="Password">
                        <input type="password" placeholder="Confirm password">
                        <button type="submit" class="common_btn">Sign Up<span></span></button>
                    </form>

                    <p class="dont_account">Already have an account? <a href="sign_in.html">Sign In</a></p>
                    <p class="or">or</p>
                    <ul>
                        <li>
                            <a href="#">
                                <span>
                                    <img src="assets/package-user/images/google_logo.png" alt="google" class="img-fluid w-100">
                                </span>
                                Google
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>
                                    <img src="assets/package-user/images/fb_logo.png" alt="google" class="img-fluid w-100">
                                </span>
                                Facebook
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>
                                    <img src="assets/package-user/images/twitter_logo.png" alt="google" class="img-fluid w-100">
                                </span>
                                Twitter
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>