
<!--============================
    MOBILE MENU END
==============================-->


<!--=========================
    BANNER 2 START
==========================-->
<section class="banner_2" style="background: url(assets/package-user/images/home_2_banner_bg.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-xxl-6 col-md-9 col-lg-8 wow fadeInLeft">
                <div class="banner_2_text single_slider_text">
                    <h3>Select Only Grocery Products</h3>
                    <h1>Get 30% Discount Of Your First Shopping</h1>
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text
                        piece of classical Latin literature.</p>
                    <a class="common_btn" routerLink="/shop">shop now <i class="fas fa-long-arrow-right"></i>
                        <span></span></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=========================
    BANNER 2 END
==========================-->


<!--=========================
    SUPPORT START
==========================-->
<section class="support pt_120 xs_pt_80">
    <div class="container">
        <div class="row">
            <div class="col-12 wow fadeInUp">
                <div class="support_content">
                    <ul>
                        <li>
                            <div class="icon">
                                <img src="assets/package-user/images/support_icon_1.jpg" alt="support" class="img-fluid w-100">
                            </div>
                            <div class="text">
                                <h3>Return Policy</h3>
                                <p>Money back guarantee</p>
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <img src="assets/package-user/images/support_icon_2.jpg" alt="support" class="img-fluid w-100">
                            </div>
                            <div class="text">
                                <h3>Free shipping</h3>
                                <p>On all orders over $60.00</p>
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <img src="assets/package-user/images/support_icon_3.jpg" alt="support" class="img-fluid w-100">
                            </div>
                            <div class="text">
                                <h3>Store locator</h3>
                                <p>Find your nearest store</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=========================
    SUPPORT END
==========================-->


<!--=========================
    ADD BANNER 2 START
==========================-->
<section class="add_banner_2 pt_95 xs_pt_55">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 wow fadeInLeft">
                <div class="special_product_banner">
                    <img src="assets/package-user/images/special_pro_banner_img_2.jpg" alt="special product" class="img-fluid w-100">
                    <div class="text">
                        <h5>Up to 20% all Products</h5>
                        <h3>Everyday Fresh & Clean With Our Products</h3>
                        <p>Don’t miss avail the saving opportunity.</p>
                        <a class="common_btn" routerLink="/shop">shop now <i
                                class="fas fa-long-arrow-right"></i>
                            <span></span></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-xl-12 wow fadeInUp">
                        <div class="add_banner_item" style="background: url(assets/package-user/images/banner_bg_5.jpg);">
                            <div class="add_banner_item_text">
                                <h4>Up To 50% Off</h4>
                                <h2>Organic Food Collection</h2>
                                <p>Don’t miss avail the saving opportunity</p>
                                <a class="common_btn" routerLink="/shop">shop now <i
                                        class="fas fa-long-arrow-right"></i>
                                    <span></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12 wow fadeInUp">
                        <div class="add_banner_item" style="background: url(assets/package-user/images/banner_bg_6.jpg);">
                            <div class="add_banner_item_text">
                                <h4>Organic Food</h4>
                                <h2>Best For Your Family</h2>
                                <p>Limited Time Offer</p>
                                <a class="common_btn" routerLink="/shop">shop now <i
                                        class="fas fa-long-arrow-right"></i>
                                    <span></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=========================
    ADD BANNER 2 END
==========================-->


<!--=========================
    NEW PRODUCTS START
==========================-->
<app-home-data ></app-home-data>

<!--=========================
    NEW PRODUCTS END
==========================-->


<!--=========================
    COUNTDOWN 2 START
==========================-->
<section class="countdown_2 mt_120 xs_mt_80 pt_120 xs_pt_80 pb_120 xs_pb_80">
    <div class="container">
        <div class="countdown_2_area">
            <div class="row justify-content-between">
                <div class="col-xl-5 col-lg-6 wow fadeInLeft">
                    <div class="countdown_text">
                        <div class="section_heading heading_left">
                            <h4>Monthly Offers</h4>
                            <h2>Our Specials Products deal of the day</h2>
                        </div>
                        <p>There are many variations of passages of Lorem Ipsum
                            butmajority have suffered.</p>
                        <div class="simply-countdown simply-countdown-one"></div>
                        <a class="common_btn" routerLink="/shop">shop now <i
                                class="fas fa-long-arrow-right"></i>
                            <span></span></a>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 wow fadeInRight">
                    <div class="countdown_img">
                        <img src="assets/package-user/images/countdown_2_img.jpg" alt="coint" class="img-fluid w-100">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=========================
    COUNTDOWN 2 END
==========================-->




<!--=============================
    SPECIAL PRODUCT 2 START
==============================-->
<section class="special_product_2 pt_110 xs_pt_70">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 m-auto">
                <div class="section_heading mb_25 wow fadeInUp">
                    <h4>Special Products</h4>
                    <h2>Our Spatial Brand Products</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-4 col-lg-6">
                <div class="row">
                    <div class="col-lg-12 col-md-6 wow fadeInLeft">
                        <div class="special_product_item">
                            <div class="special_product_img">
                                <img src="assets/package-user/images/special_product_1.jpg" alt="product" class="img-fluid w-100">
                                <span class="discount">save 70%</span>
                            </div>
                            <div class="special_product_text">
                                <a class="title" routerLink="/shop">Butter garlic crab</a>
                                <span>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star-half-alt"></i>
                                    <i class="far fa-star"></i>
                                </span>
                                <p>$10.00 <del>$12.00</del></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-6 wow fadeInLeft">
                        <div class="special_product_item">
                            <div class="special_product_img">
                                <img src="assets/package-user/images/special_product_3.jpg" alt="product" class="img-fluid w-100">
                                <span class="discount">save 40%</span>
                            </div>
                            <div class="special_product_text">
                                <a class="title" routerLink="/shop">Three Carrot</a>
                                <span>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star-half-alt"></i>
                                    <i class="far fa-star"></i>
                                </span>
                                <p>$17.00 <del>$20.00</del></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-6 wow fadeInLeft">
                        <div class="special_product_item">
                            <div class="special_product_img">
                                <img src="assets/package-user/images/special_product_2.jpg" alt="product" class="img-fluid w-100">
                            </div>
                            <div class="special_product_text">
                                <a class="title" routerLink="/shop">Bengal Meat Bone</a>
                                <span>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star-half-alt"></i>
                                    <i class="far fa-star"></i>
                                </span>
                                <p>$13.00 <del>$15.00</del></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 wow fadeInUp">
                <div class="special_product_banner">
                    <img src="assets/package-user/images/special_pro_banner_img_4.jpg" alt="special product" class="img-fluid w-100">
                    <div class="text">
                        <h3>Fresh Fruits Healthy Juice</h3>
                        <p>Get 50% Off on Selected Organic Items</p>
                        <a class="common_btn" routerLink="/shop">shop now <i
                                class="fas fa-long-arrow-right"></i>
                            <span></span></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6">
                <div class="row">
                    <div class="col-lg-12 col-md-6 wow fadeInRight">
                        <div class="special_product_item">
                            <div class="special_product_img">
                                <img src="assets/package-user/images/special_product_4.jpg" alt="product" class="img-fluid w-100">
                                <span class="discount">save 50%</span>
                            </div>
                            <div class="special_product_text">
                                <a class="title" routerLink="/shop">Lemon Meat Bone</a>
                                <span>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star-half-alt"></i>
                                    <i class="far fa-star"></i>
                                </span>
                                <p>$29.00 <del>$32.00</del></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-6 wow fadeInRight">
                        <div class="special_product_item">
                            <div class="special_product_img">
                                <img src="assets/package-user/images/special_product_5.jpg" alt="product" class="img-fluid w-100">
                            </div>
                            <div class="special_product_text">
                                <a class="title" routerLink="/shop">Orange Slice Mix</a>
                                <span>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star-half-alt"></i>
                                    <i class="far fa-star"></i>
                                </span>
                                <p>$20.00 <del>$22.00</del></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-6 wow fadeInRight">
                        <div class="special_product_item">
                            <div class="special_product_img">
                                <img src="assets/package-user/images/special_product_6.jpg" alt="product" class="img-fluid w-100">
                                <span class="discount">save 30%</span>
                            </div>
                            <div class="special_product_text">
                                <a class="title" routerLink="/shop">Carrot Vegetables</a>
                                <span>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star-half-alt"></i>
                                    <i class="far fa-star"></i>
                                </span>
                                <p>$16.00 <del>$18.00</del></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=============================
    SPECIAL PRODUCT 2 END
==============================-->


<!--=============================
    TESTIMONIAL 2 START
==============================-->
<section class="testimonial_2 mt_120 xs_mt_80 pt_120 xs_pt_80 pb_220 xs_pb_180">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-5 wow fadeInLeft">
                <div class="testimonial_2_text">
                    <div class="section_heading heading_left mb_25">
                        <h4>Our Testimonials</h4>
                        <h2>What Our Customer Talking About Us</h2>
                    </div>
                    <p>Lorem ipsum dolor sit amet, elit sed, ading do
                        eiusmod tempor incididunt labore et dolore elit,
                        sed do eiusmod.</p>
                </div>
            </div>
            <div class="col-xl-8 col-lg-7 wow fadeInUp">
                <div class="row testi_slider_2">
                    <div class="col-xl-6">
                        <div class="testimonial_item_2">
                            <div class="img">
                                <img src="assets/package-user/images/testimonial_img_1.jpg" alt="testimonial" class="img-fluid w-100">
                            </div>
                            <p class="review_text">Contrary to popular belief, Lorem Ipsum is not
                                random text. It has roots in a piece of classic
                                literature from 45 BC, making</p>
                            <div class="text">
                                <h3>Bartholomew</h3>
                                <p>Customer</p>
                            </div>
                            <p class="rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </p>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="testimonial_item_2">
                            <div class="img">
                                <img src="assets/package-user/images/testimonial_img_2.jpg" alt="testimonial" class="img-fluid w-100">
                            </div>
                            <p class="review_text">Contrary to popular belief, Lorem Ipsum is not
                                random text. It has roots in a piece of classic
                                literature from 45 BC, making</p>
                            <div class="text">
                                <h3>Sophie Dennison</h3>
                                <p>Graphic Designer</p>
                            </div>
                            <p class="rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                            </p>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="testimonial_item_2">
                            <div class="img">
                                <img src="assets/package-user/images/testimonial_img_3.jpg" alt="testimonial" class="img-fluid w-100">
                            </div>
                            <p class="review_text">Contrary to popular belief, Lorem Ipsum is not
                                random text. It has roots in a piece of classic
                                literature from 45 BC, making</p>
                            <div class="text">
                                <h3>Israt Jahan</h3>
                                <p>Developer</p>
                            </div>
                            <p class="rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=============================
    TESTIMONIAL 2 END
==============================-->


<!--=============================
    INSTAGRAM PHOTO START
==============================-->
<section class="instagram_photo">
    <div class="row insta_slider">
        <div class="col-xl-2 wow fadeInUp">
            <div class="instagram_photo_item">
                <img src="assets/package-user/images/instagram_img_1.jpg" alt="instagram" class="img-fluid w-100">
                <a href="#"> <i class="fab fa-instagram"></i> </a>
            </div>
        </div>
        <div class="col-xl-2 wow fadeInUp">
            <div class="instagram_photo_item">
                <img src="assets/package-user/images/instagram_img_2.jpg" alt="instagram" class="img-fluid w-100">
                <a href="#"> <i class="fab fa-instagram"></i> </a>
            </div>
        </div>
        <div class="col-xl-2 wow fadeInUp">
            <div class="instagram_photo_item">
                <img src="assets/package-user/images/instagram_img_3.jpg" alt="instagram" class="img-fluid w-100">
                <a href="#"> <i class="fab fa-instagram"></i> </a>
            </div>
        </div>
        <div class="col-xl-2 wow fadeInUp">
            <div class="instagram_photo_item">
                <img src="assets/package-user/images/instagram_img_4.jpg" alt="instagram" class="img-fluid w-100">
                <a href="#"> <i class="fab fa-instagram"></i> </a>
            </div>
        </div>
        <div class="col-xl-2 wow fadeInUp">
            <div class="instagram_photo_item">
                <img src="assets/package-user/images/instagram_img_5.jpg" alt="instagram" class="img-fluid w-100">
                <a href="#"> <i class="fab fa-instagram"></i> </a>
            </div>
        </div>
        <div class="col-xl-2 wow fadeInUp">
            <div class="instagram_photo_item">
                <img src="assets/package-user/images/instagram_img_6.jpg" alt="instagram" class="img-fluid w-100">
                <a href="#"> <i class="fab fa-instagram"></i> </a>
            </div>
        </div>
        <div class="col-xl-2 wow fadeInUp">
            <div class="instagram_photo_item">
                <img src="assets/package-user/images/instagram_img_4.jpg" alt="instagram" class="img-fluid w-100">
                <a href="#"> <i class="fab fa-instagram"></i> </a>
            </div>
        </div>
    </div>
</section>
<!--=============================
    INSTAGRAM PHOTO END
==============================-->


<!--=========================
    BLOG 2 START
==========================-->
<section class="blog_2 pt_110 xs_pt_70">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 m-auto">
                <div class="section_heading mb_15 wow fadeInUp">
                    <h4>Our Blog Post</h4>
                    <h2>Latest News & Articles</h2>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-lg-4 col-md-6 wow fadeInUp" *ngFor="let post of posts">
                <div class="blog_item"></div>
                    <div class="blog_img">
                        <img [src]="post?.imageUrl || 'assets/package-user/images/blog_2_img_1.jpg'" alt="blog" class="img-fluid w-100">
                    </div>
                    <div class="blog_text">
                        <ul class="top">
                            <li><i class="far fa-tag"></i> {{post?.postCategory?.postCategoryName}}</li>
                        </ul>
                        <a class="title" [routerLink]="['/blog-detail', post?.id]" >{{post?.title}}</a>
                        <ul class="bottom">
                            <li><a  [routerLink]="['/blog-detail', post?.id]">read more <i class="fas fa-long-arrow-right"></i></a>
                            </li>
                           
                        </ul>
             
                </div>
               
            </div>
          
        </div>
    </div>
</section>
<!--=========================
    BLOG 2 END
==========================-->


<!--=========================
    BRAND 2 START
==========================-->
<section class="brand_2 mt_115 xs_mt_75">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 m-auto wow fadeInUp">
                <div class="section_heading mb_45">
                    <h4>Our Partners</h4>
                    <h2>Our Organic Farm Partners</h2>
                </div>
            </div>
        </div>
        <div class="brand_item_area wow fadeInUp">
            <div class="row">
                <div class="col-12">
                    <div class="marquee_animi">
                        <ul>
                            <li>
                                <a href="#">
                                    <img src="assets/package-user/images/brand_item_1.png" alt="brand" class="img-fluid w-100">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="assets/package-user/images/brand_item_2.png" alt="brand" class="img-fluid w-100">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="assets/package-user/images/brand_item_3.png" alt="brand" class="img-fluid w-100">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="assets/package-user/images/brand_item_4.png" alt="brand" class="img-fluid w-100">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="assets/package-user/images/brand_item_5.png" alt="brand" class="img-fluid w-100">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="assets/package-user/images/brand_item_6.png" alt="brand" class="img-fluid w-100">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="assets/package-user/images/brand_item_4.png" alt="brand" class="img-fluid w-100">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>