<section class="page_breadcrumb" style="background: url(assets/package-user/images/breadcrumb_bg.jpg);">
    <div class="breadcrumb_overlay">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_text wow fadeInUp">
                        <h1>Order Invoice</h1>
                        <ul>
                            <li><a href="#"><i class="fal fa-home-lg"></i> Home</a></li>
                            <li><a href="#">Order Invoice</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=========================
    BREADCRUMB START
==========================-->


<!--================================
    DASHBOARD ORDER INVOICE START
=================================-->
<section class="dashboard pt_120 xs_pt_80">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-4 wow fadeInLeft">
                <div class="dashboard_sidebar">
                    <div class="dashboard_sidebar_user">
                        <div class="img">
                            <img [src]="user?.imageUrl || 'assets/package-user/images/dashboard_user_img.png'" alt="dashboard" class="img-fluid w-100">

                            <label for="profile_photo"><i class="far fa-camera"></i></label>
                            <input type="file" id="profile_photo" hidden>
                        </div>
                        <h3>{{user?.userName}}</h3>
   
                    </div>
                    <div class="dashboard_sidebar_menu">
                        <ul>
                            <li><a class="active" href="/dashboard"><i class="fas fa-user"></i> Personal
                                    Info</a></li>
                            <li><a href="/dashboard-order"><i class="fas fa-shopping-basket"></i> Order</a></li>
                            <!-- <li><a href="/dashboard-wishlist"><i class="fas fa-heart"></i> Wishlist</a></li>
                            <li><a href="/dashboard-change-password"><i class="fas fa-key"></i> Change
                                    Password</a></li> -->
                            <li><a (click)="handleLogout()" data-bs-toggle="modal" data-bs-target="#exampleModal"><i
                                        class="fas fa-sign-out-alt"></i> Logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-9 col-lg-8 wow fadeInRight">
                <div class="dashboard_content">
                    <a class="back_btn common_btn" routerLink="/dashboard-order"><i
                            class="far fa-long-arrow-left"></i> Go
                        Back <span></span></a>
                    <div class="dashboard_order_invoice">
                        <div class="dashboard_invoice_logo_area">
                            <div class="invoice_logo">
                                <img src="assets/package-user/images/logo.png" alt="logo" class="img-fluid w-100">
                            </div>
                            <div class="text">
                                <h2>invoice</h2>
                                <p>invoice no: #{{order?.orderId}}</p>
                                <p>date: {{order?.orderDate | date: 'dd-MM-yyyy'}}</p>
                            </div>
                        </div>
                        <div class="dashboard_invoice_header">
                            <div class="text">
                                <h2>Bill To</h2>
                                <p>Số 17, Phố nghĩa đô cầu giấy hoàng quốc việt.</p>
                                <p>0964704274</p>
                                <p>admin.gmail.com</p>
                            </div>
                            <div class="text">
                                <h2>Ship To</h2>
                                <ul>
                                    <li><span>Name:</span> {{order?.userName}}</li>
                                    <li><span>Email:</span>{{order?.email}}</li>
                                    <li><span>Phone:</span> {{order?.phone}}</li>
                                    <li><span>Address:</span> {{order?.address}}</li>
                                </ul>
                            </div>
                        </div>
                        <div class="invoice_table dashboard_order">
                            <div class="table-responsive">
                                <table>
                                    <tbody>
                                        <tr>
                                            <th>Name</th>
                                            <th>Price</th>
                                            <th>Quantity</th>
                                            <th>Total</th>
                                        </tr>
                                        <tr *ngFor="let orderItem of order?.orderItems">
                                            <td>{{orderItem?.productName}}</td>
                                            <td>{{orderItem?.price | currency: 'USD'}}</td>
                                            <td>{{orderItem?.quantity}}</td>
                                            <td>{{orderItem?.subTotal | currency: 'USD'}}</td>
                                        </tr>
                                      
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="dashboard_invoice_footer">
                            <h4>Notes</h4>
                            <p>Thanks for your purchase</p>
                            <!-- <a class="common_btn" href="#"><i class="far fa-print"></i> Print
                                PDF<span></span></a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>