<section class="page_breadcrumb" style="background: url(assets/package-user/images/breadcrumb_bg.jpg);">
    <div class="breadcrumb_overlay">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_text wow fadeInUp">
                        <h1>Blog Details</h1>
                        <ul>
                            <li><a href="#"><i class="fal fa-home-lg"></i> Home</a></li>
                            <li><a href="#">Blog Details</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=========================
    BREADCRUMB START
==========================-->


<!--=========================
    BLOG DETAILS START
==========================-->
<section class="blog_details pt_120 xs_pt_80">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 wow fadeInLeft">
                <div class="blog_det_area">
                    <div class="blog_det_img">
                        <img [src]="post?.imageUrl" alt="blog images" class="img-fluid w-100">
                    </div>
                    <div class="blog_det_text_header d-flex flex-wrap">
                        <ul class="left d-flex flex-wrap">
                            <li><span>{{postCategoryName}}</span></li>
                        </ul>
                        <ul class="right d-flex flex-wrap">
                            <li><i class="far fa-comment"></i> {{comments?.length}}</li>
                        </ul>
                    </div>
                    <div class="blog_det_text">
                        <h2>{{post?.title}}</h2>
                        <p>
                            {{post?.description}}
                        </p>
                        <p>
                            {{post?.content}}
                        </p>
                    </div>
                    <div class="blog_tags_and_share d-flex flex-wrap">
                        
                        <ul class="right d-flex flex-wrap">
                            <li>Share :</li>
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        </ul>
                    </div>
                    <div class="det_comment_area">
                        <h3>Comments {{comments?.length}}</h3>
                        <div class="single_comment" *ngFor="let comment of comments">
                            <div class="img">
                                <img [src]="comment?.imageUrl || 'assets/package-user/images/testimonial_img_1.jpg' " alt="comment" class="img-fluid w-100">
                            </div>
                            <div class="text">
                                <h4>{{comment?.account?.userName}} <span>{{comment?.createdAt |  date: 'yyyy-MM-dd HH:mm:ss' }}</span></h4>
                                <p>
                                    {{comment?.content}}
                                </p>
                               
                            </div>
                        </div>
                        <!-- <div class="pagination mt_30">
                            <ul class="pagination justify-content-end">
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous">
                                        <i class="far fa-angle-double-left"></i>
                                    </a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link active" href="#">2</a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">
                                        <i class="far fa-angle-double-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </div> -->
                    </div>

                    <div class="det_comment_input">
                        <h3>Leave A Comments</h3>
                        <form [formGroup]="commentForm" (submit)="onSubmit()">
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="review_input_box">
                                        <textarea rows="5" formControlName="content" placeholder="Write Comment...."></textarea>
                                    </div>
                                    <div *ngIf="commentForm.get('content')?.invalid && commentForm.get('content')?.touched" class="text-danger mt-1">
                                        Content is required.
                                      </div>
                                    <button type="submit" class="common_btn">Submit Comment
                                        <span></span></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog_sidebar" id="sticky_sidebar">
                    <div class="blog_sidebar_category shop_sidebar_category">
                        <div class="sedebar_content">
                            <h3>Post categories</h3>
                            <ul>
                                <li *ngFor="let postcategory of postCategories"><a href="#">{{postcategory?.postCategoryName}} </a></li>
                            </ul>
                        </div>
                    </div>
                
                </div>
            </div>
        </div>
    </div>
</section>