

<!--=========================
    BREADCRUMB START
==========================-->
<section class="page_breadcrumb" style="background: url(assets/package-user/images/breadcrumb_bg.jpg);">
    <div class="breadcrumb_overlay">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_text wow fadeInUp">
                        <h1>Shop</h1>
                        <ul>
                            <li><a href="#"><i class="fal fa-home-lg"></i> Home</a></li>
                            <li><a href="#">Shop</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=========================
    BREADCRUMB START
==========================-->


<!--=========================
    SHOP PAGE START
==========================-->
<section class="shop_page pt_120 xs_pt_80">
    <div class="container">
        <div class="shop_page_header_area">
            <div class="row justify-content-between align-items-centers">
                <div class="col-xl-3 col-lg-4 wow fadeInUp">
                    <div class="shop_header_search">
                        <form>
                            <input type="text" [(ngModel)]="searchKeyword" [ngModelOptions]="{standalone: true}" placeholder="Search...">
                            <button (click)="onSearch()"><i class="far fa-search"></i></button>
                        </form>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-8 wow fadeInUp">
                    <div class="shop_page_header">
                        <div class="filter">
                            <p>Sort by:</p>
                            <select class="" style="background: white;
    padding: 10px;" (change)="onSortChange($event)">
                                <option value=""> Default Sorting</option>
                                <option value="name-asc">Product name - ASC</option>
                                <option value="name-desc">Product name - DESC</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-sm-8 col-md-6 order-2 wow fadeInLeft">
                <div id="sticky_sidebar" class="shop_sidebar">
                    <div class="shop_sidebar_filter shop_sidebar_item">
                        <h3>Filter by price</h3>
                        <!-- <div class="price_ranger">
                            <input type="text" id="slider_range" class="flat-slider" />
                     
                        </div> -->
                        <div>
                            <label for="minPrice">Min Price: {{ minPrice }}</label>
                            <input
                              type="range"
                              id="minPrice"
                              min="0"
                              max="10000"
                              [(ngModel)]="minPrice"
                              (input)="filterItems()"
                            />
                          
                            <label for="maxPrice">Max Price: {{ maxPrice }}</label>
                            <input
                              type="range"
                              id="maxPrice"
                              min="0"
                              max="10000"
                              [(ngModel)]="maxPrice"
                              (input)="filterItems()"
                            />
                          </div>
                          
            
                          
                    </div>
                    <div class="shop_sidebar_category shop_sidebar_item">
                        <h3>Categories</h3>
                        <ul>
                            <li *ngFor="let category of categories">
                              <a style="cursor: pointer;" (click)="handleSortByCategory(category?.id)">{{ category.categoryName }}</a>
                            </li>
                          </ul>
                          
                    </div>
                </div>
            </div>
            <div class="col-xl-9 order-lg-2 col-lg-8 xs_mb_50 shop_mb_margin">
                <div class="row">

                    <div *ngFor="let product of products" class="col-xl-4 col-sm-6 wow fadeInUp">
                        <div class="single_product">
                          <div class="single_product_img">
                            <img [src]="product.imageUrl || 'assets/default-image.jpg'" alt="Product" class="img_fluid w-100">
                          </div>
                          <div class="single_product_text">
                            <a class="title" [routerLink]="['/shop-detail', product?.id]">{{ product.productName }}</a>
                            <p>{{ product.salePrice | currency:'USD':'symbol':'1.2-2' }} <del>{{ product.price | currency:'USD':'symbol':'1.2-2' }}</del></p>
                            <!-- data-bs-toggle="modal" data-bs-target="#cart_popup_modal" -->
                            <a class="cart_btn" href="#"  (click)="loadProduct(product?.id)" data-bs-toggle="modal" data-bs-target="#cart_popup_modal"  >
                              <i class="far fa-shopping-basket"></i> Add To Cart
                              <span></span>
                            </a>
                          </div>
                        </div>
                      </div>
                </div>
                <div class="row">
                    <div class="pagination mt_25 wow fadeInUp justify-content-center">
                       
                        <nav *ngIf="totalRecords > pageSize" class="">
                            <ul class="pagination justify-content-center">
                              <li class="page-item" [class.disabled]="currentPage === 1">
                                <a class="page-link" (click)="onPageChange(currentPage - 1)">  <i class="far fa-angle-double-left"></i></a>
                              </li>
                    
                              <li class="page-item" *ngFor="let page of [].constructor(Math.ceil(totalRecords / pageSize)); let i = index"
                                  [class.active]="currentPage === i + 1">
                                <a class="page-link" (click)="onPageChange(i + 1)">{{ i + 1 }}</a>
                              </li>
                    
                              <li class="page-item" [class.disabled]="currentPage === Math.ceil(totalRecords / pageSize)">
                                <a class="page-link" (click)="onPageChange(currentPage + 1)"><i class="far fa-angle-double-right"></i></a>
                              </li>
                         </ul>
                         </nav>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<div class="cart_popup_modal" >
    <div class="modal fade" id="cart_popup_modal"  tabindex="-1"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="modal-body">
                    <div class="row align-items-center">
                        <div class="col-xl-6">
                            <div class="cart_popup_modal_img">
                                <img [src]="product?.imageUrl"  *ngIf="product?.image!='';else noImage"/>
                                <ng-template #noImage>
                                    No image
        
                                </ng-template>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="product_det_text">
                                <h2 class="details_title">{{product?.productName}}</h2>
                                <p class="rating">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star-half-alt"></i>
                                    <i class="far fa-star"></i>
                                    
                                </p>
                                <div *ngIf="product?.salePrice !== 0;else noSale" >
                                    <p class="price">{{product?.salePrice | currency: 'USD'}} <del>{{product?.price  | currency: 'USD'}}</del></p>
                                </div>
                                <ng-template #noSale>
                                    <p class="price">${{product?.price}}</p>
                                  </ng-template>
            
                                <div class="details_short_description" *ngIf="product?.description!=null">
                                    <h3>Description</h3>
                                    <p>
                                        {{product?.description}}
                                    </p>
                                </div>
                                <div class="details_quentity_area">
                                    <div class="button_area">
                                        <button (click)="decrement()">-</button>
                                        <input type="number" [(ngModel)]="quantity" (ngModelChange)="onQuantityChange($event)" min="1">
                                        <button (click)="increment()">+</button>
                                      </div>
                                </div>
                                <div class="details_cart_btn">
                                    <a style="cursor: pointer;" class="common_btn" (click)="addToCart(product.id)"><i class="far fa-shopping-basket"></i> Add To Cart
                                        <span></span></a>
                     
                                </div>
                                <p class="category"><span>Category:</span> {{product?.category?.categoryName}}</p>
                              
                                <ul class="share">
                                    <li>Share with friends:</li>
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                    <li><a href="#"><i class="fab fa-behance"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>