
<section class="page_breadcrumb" style="background: url(assets/package-user/images/breadcrumb_bg.jpg);">
    <div class="breadcrumb_overlay">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_text wow fadeInUp">
                        <h1>Error/404</h1>
                        <ul>
                            <li><a href="#"><i class="fal fa-home-lg"></i> Home</a></li>
                            <li><a href="#">Error/404</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>