
<!--=========================
    BREADCRUMB START
==========================-->
<section class="page_breadcrumb" style="background: url(assets/package-user/images/breadcrumb_bg.jpg);">
    <div class="breadcrumb_overlay">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_text wow fadeInUp">
                        <h1>Sign In</h1>
                        <ul>
                            <li><a href="#"><i class="fal fa-home-lg"></i> Home</a></li>
                            <li><a href="#">Sign In</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=========================
    BREADCRUMB START
==========================-->


<!--=========================
    SIGN IN PAGE START
==========================-->
<section class="sign_in pt_120 xs_pt_80">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xxl-3 col-lg-4 d-none d-lg-block wow fadeInLeft">
                <div class="sign_in_img">
                    <img src="assets/package-user/images/sign_in_img_1.jpg" alt="Sign In" class="img-fluid w-100">
                </div>
            </div>
            <div class="col-xxl-5 col-md-10 col-lg-7 col-xl-6 wow fadeInRight">
                <div class="sign_in_form">
                    <h3>Sign In Your Account 👋</h3>
                    <form [formGroup]="signInModuleForm" (ngSubmit)="onSubmit()">
                        <input type="email" formControlName="email" placeholder="Enter email address">
                        <div *ngIf="signInModuleForm.get('email')?.invalid && signInModuleForm.get('email')?.touched" class="text-danger">
                            <div *ngIf="signInModuleForm.get('email')?.hasError('required')"  class="text-danger">Email is required</div>
                            <div *ngIf="signInModuleForm.get('email')?.hasError('email')"  class="text-danger">Invalid email format</div>
                      
                          </div>
                       
                        <input type="password" formControlName="password" placeholder="Password">
                        <div *ngIf="signInModuleForm.get('password')?.invalid && signInModuleForm.get('password')?.touched" class="text-danger">
                            Password is required
                          </div>
                        <button type="submit" class="common_btn">Sign In<span></span></button>
                    </form>

                    <p class="dont_account">Don’t have an account?
                        <a [routerLink]="['/sign-up']" 
                        >
                          Sign Up
                        </a>
                    </p>
                   
                </div>
            </div>
        </div>
    </div>
</section>