<section class="page_breadcrumb" style="background: url(assets/package-user/images/breadcrumb_bg.jpg);">
    <div class="breadcrumb_overlay">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_text wow fadeInUp">
                        <h1>Cart View</h1>
                        <ul>
                            <li><a href="#"><i class="fal fa-home-lg"></i> Home</a></li>
                            <li><a href="#">Cart View</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=========================
    BREADCRUMB START
==========================-->


<!--=========================
    CART VIEW START
==========================-->
<section class="cart_view pt_120 xs_pt_80">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 wow fadeInLeft">
                <div class="cart_table_area">
                    <div class="table-responsive">
                        <table>
                            <thead>
                                <tr>
                                    <th class="images">Image</th>
                                    <th class="name">Product Name</th>
                                    <th class="price">Price</th>
                                    <th class="qty">Quantity</th>
                                    <th class="total">Total</th>
                                    <th class="delete">Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                             
                                <ng-container *ngIf="carts.length > 0; else noData">
                                    <tr *ngFor="let cart of carts">
                                        <td class="images">
                                            <img [src]="cart?.imageUrl" alt="cart" class="img-fluid w-100">
                                        </td>
                                        <td class="name">
                                            <a class="title" [routerLink]="['shop-detail', cart?.productId]">{{ cart?.product?.productName }}</a>
                                        </td>
                                        <td class="price">
                                            <p>{{ cart?.price | currency: 'USD'}}</p>
                                        </td>
                                        <td class="qty">
                                            <div class="button_area">
                                                <button (click)="decrement(cart)">-</button>
                                                <input type="number" [(ngModel)]="cart.quantity" (ngModelChange)="onQuantityChange(cart)">
                                                <button (click)="increment(cart)">+</button>
                                            </div>
                                        </td>
                                        <td class="total">
                                            <span>{{cart?.price * cart?.quantity | currency:'USD'}}</span>
                                        </td>
                                        <td class="delete">
                                            <a class="del" (click)="handleDelete(cart?.productId)"><i class="fal fa-times-circle"></i></a>
                                        </td>
                                    </tr>
                                </ng-container>
                            
                                <ng-template #noData>
                                    <tr>
                                        <td colspan="6" class="text-center">No Products</td>
                                    </tr>
                                </ng-template>
                            </tbody>
                        </table>
                        
                    </div>
                    <a class="btn btn-danger mt-2" (click)="clearCart()">Clear cart <i class="fas fa-trash"></i>
                        <span></span></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-8">
                <div class="cart_sidebar" id="sticky_sidebar">
                    <h3>Total Cart ({{carts.length}})</h3>
                    <div class="cart_sidebar_info">
                        <h4>Subtotal : <span>{{calculateTotal() | currency: 'USD'}}</span></h4>
                        
                        <h5>Total : <span>{{calculateTotal() | currency: 'USD'}}</span></h5>
                        <a class="common_btn" routerLink="/checkout">Checkout <i class="fas fa-long-arrow-right"></i>
                            <span></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>