<section class="page_breadcrumb" style="background: url(assets/package-user/images/breadcrumb_bg.jpg);">
    <div class="breadcrumb_overlay">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_text wow fadeInUp">
                        <h1>Blogs</h1>
                        <ul>
                            <li><a href="#"><i class="fal fa-home-lg"></i> Home</a></li>
                            <li><a href="#">Blogs</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=========================
    BREADCRUMB START
==========================-->


<!--=========================
    BLOG PAGE START
==========================-->
<section class="blog_page pt_95 xs_pt_55">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 wow fadeInUp" *ngFor="let post of posts">
                <div class="blog_item">
                    <div class="blog_img">
                        <img [src]="post?.imageUrl" alt="blog" class="img-fluid w-100">
                    </div>
                    <div class="blog_text">
                        <ul class="top">
                            <li><i class="far fa-tag"></i> {{post?.postCategory?.postCategoryName}}</li>
                        </ul>
                        <a class="title" [routerLink]="['/blog-detail', post?.id]" >{{post?.title}}</a>
                        <ul class="bottom">
                            <li><a  [routerLink]="['/blog-detail', post?.id]">read more <i class="fas fa-long-arrow-right"></i></a>
                            </li>
                           
                        </ul>
                    </div>
                </div>
            </div>

            <div class="pagination mt_60 wow fadeInUp justify-content-center">
                <nav  *ngIf="totalRecords > pageSize"  class="">
                    <ul class="pagination justify-content-center">
                      <li class="page-item" [class.disabled]="currentPage === 1">
                        <a class="page-link" (click)="onPageChange(currentPage - 1)">  <i class="far fa-angle-double-left"></i></a>
                      </li>
            
                      <li class="page-item" *ngFor="let page of [].constructor(Math.ceil(totalRecords / pageSize)); let i = index"
                          [class.active]="currentPage === i + 1">
                        <a class="page-link" (click)="onPageChange(i + 1)">{{ i + 1 }}</a>
                      </li>
            
                      <li class="page-item" [class.disabled]="currentPage === Math.ceil(totalRecords / pageSize)">
                        <a class="page-link" (click)="onPageChange(currentPage + 1)"><i class="far fa-angle-double-right"></i></a>
                      </li>
                 </ul>
                 </nav>
            </div>
        </div>
    </div>
</section>