<section class="page_breadcrumb" style="background: url(assets/package-user/images/breadcrumb_bg.jpg);">
    <div class="breadcrumb_overlay">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_text wow fadeInUp">
                        <h1>Blogs</h1>
                        <ul>
                            <li><a href="#"><i class="fal fa-home-lg"></i> Home</a></li>
                            <li><a href="#">Blogs</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=========================
    BREADCRUMB START
==========================-->


<!--=========================
    BLOG PAGE START
==========================-->
<section class="blog_page pt_95 xs_pt_55">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 wow fadeInUp">
                <div class="blog_item">
                    <div class="blog_img">
                        <img src="assets/package-user/images/blog_img_1.jpg" alt="blog" class="img-fluid w-100">
                    </div>
                    <div class="blog_text">
                        <ul class="top">
                            <li><i class="far fa-tag"></i> Drink</li>
                            <li><i class="far fa-user-circle"></i> Admin</li>
                        </ul>
                        <a class="title" href="blogs_details.html">Freshly Served Exploring the World of Fresh</a>
                        <ul class="bottom">
                            <li><a href="blogs_details.html">read more <i class="fas fa-long-arrow-right"></i></a>
                            </li>
                            <li><span><i class="far fa-comment-dots"></i> 51 Comments</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp">
                <div class="blog_item">
                    <div class="blog_img">
                        <img src="assets/package-user/images/blog_img_2.jpg" alt="blog" class="img-fluid w-100">
                    </div>
                    <div class="blog_text">
                        <ul class="top">
                            <li><i class="far fa-tag"></i> Fish</li>
                            <li><i class="far fa-user-circle"></i> Admin</li>
                        </ul>
                        <a class="title" href="blogs_details.html">The Fresh Connection Exploring the Link
                            Between</a>
                        <ul class="bottom">
                            <li><a href="blogs_details.html">read more <i class="fas fa-long-arrow-right"></i></a>
                            </li>
                            <li><span><i class="far fa-comment-dots"></i> 42 Comments</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp">
                <div class="blog_item">
                    <div class="blog_img">
                        <img src="assets/package-user/images/blog_img_3.jpg" alt="blog" class="img-fluid w-100">
                    </div>
                    <div class="blog_text">
                        <ul class="top">
                            <li><i class="far fa-tag"></i> Meat</li>
                            <li><i class="far fa-user-circle"></i> Admin</li>
                        </ul>
                        <a class="title" href="blogs_details.html">Common Engine Oil Problems and Solutions</a>
                        <ul class="bottom">
                            <li><a href="blogs_details.html">read more <i class="fas fa-long-arrow-right"></i></a>
                            </li>
                            <li><span><i class="far fa-comment-dots"></i> 36 Comments</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp">
                <div class="blog_item">
                    <div class="blog_img">
                        <img src="assets/package-user/images/blog_img_4.png" alt="blog" class="img-fluid w-100">
                    </div>
                    <div class="blog_text">
                        <ul class="top">
                            <li><i class="far fa-tag"></i> Drink</li>
                            <li><i class="far fa-user-circle"></i> Admin</li>
                        </ul>
                        <a class="title" href="blogs_details.html">Common Engine Oil Problems and Solutions</a>
                        <ul class="bottom">
                            <li><a href="blogs_details.html">read more <i class="fas fa-long-arrow-right"></i></a>
                            </li>
                            <li><span><i class="far fa-comment-dots"></i> 15 Comments</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp">
                <div class="blog_item">
                    <div class="blog_img">
                        <img src="assets/package-user/images/blog_img_5.png" alt="blog" class="img-fluid w-100">
                    </div>
                    <div class="blog_text">
                        <ul class="top">
                            <li><i class="far fa-tag"></i> Fish</li>
                            <li><i class="far fa-user-circle"></i> Admin</li>
                        </ul>
                        <a class="title" href="blogs_details.html">Freshly Served Exploring the World of Fresh</a>
                        <ul class="bottom">
                            <li><a href="blogs_details.html">read more <i class="fas fa-long-arrow-right"></i></a>
                            </li>
                            <li><span><i class="far fa-comment-dots"></i> 52 Comments</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp">
                <div class="blog_item">
                    <div class="blog_img">
                        <img src="assets/package-user/images/blog_img_6.png" alt="blog" class="img-fluid w-100">
                    </div>
                    <div class="blog_text">
                        <ul class="top">
                            <li><i class="far fa-tag"></i> Meat</li>
                            <li><i class="far fa-user-circle"></i> Admin</li>
                        </ul>
                        <a class="title" href="blogs_details.html">The Fresh Connection Exploring the Link
                            Between</a>
                        <ul class="bottom">
                            <li><a href="blogs_details.html">read more <i class="fas fa-long-arrow-right"></i></a>
                            </li>
                            <li><span><i class="far fa-comment-dots"></i> 13 Comments</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp">
                <div class="blog_item">
                    <div class="blog_img">
                        <img src="assets/package-user/images/blog_img_7.png" alt="blog" class="img-fluid w-100">
                    </div>
                    <div class="blog_text">
                        <ul class="top">
                            <li><i class="far fa-tag"></i> Drink</li>
                            <li><i class="far fa-user-circle"></i> Admin</li>
                        </ul>
                        <a class="title" href="blogs_details.html">Common Engine Oil Problems and Solutions</a>
                        <ul class="bottom">
                            <li><a href="blogs_details.html">read more <i class="fas fa-long-arrow-right"></i></a>
                            </li>
                            <li><span><i class="far fa-comment-dots"></i> 15 Comments</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp">
                <div class="blog_item">
                    <div class="blog_img">
                        <img src="assets/package-user/images/blog_img_8.png" alt="blog" class="img-fluid w-100">
                    </div>
                    <div class="blog_text">
                        <ul class="top">
                            <li><i class="far fa-tag"></i> Fish</li>
                            <li><i class="far fa-user-circle"></i> Admin</li>
                        </ul>
                        <a class="title" href="blogs_details.html">The Fresh Connection Exploring the Link
                            Between</a>
                        <ul class="bottom">
                            <li><a href="blogs_details.html">read more <i class="fas fa-long-arrow-right"></i></a>
                            </li>
                            <li><span><i class="far fa-comment-dots"></i> 42 Comments</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp">
                <div class="blog_item">
                    <div class="blog_img">
                        <img src="assets/package-user/images/blog_img_9.png" alt="blog" class="img-fluid w-100">
                    </div>
                    <div class="blog_text">
                        <ul class="top">
                            <li><i class="far fa-tag"></i> Meat</li>
                            <li><i class="far fa-user-circle"></i> Admin</li>
                        </ul>
                        <a class="title" href="blogs_details.html">Freshly Served Exploring the World of Fresh</a>
                        <ul class="bottom">
                            <li><a href="blogs_details.html">read more <i class="fas fa-long-arrow-right"></i></a>
                            </li>
                            <li><span><i class="far fa-comment-dots"></i> 36 Comments</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="pagination mt_60 wow fadeInUp">
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <i class="far fa-angle-double-left"></i>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link active" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <i class="far fa-angle-double-right"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>