<section class="page_breadcrumb" style="background: url(assets/package-user/images/breadcrumb_bg.jpg);">
    <div class="breadcrumb_overlay">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_text wow fadeInUp">
                        <h1>Order</h1>
                        <ul>
                            <li><a href="#"><i class="fal fa-home-lg"></i> Home</a></li>
                            <li><a href="#">Order</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=========================
    BREADCRUMB START
==========================-->


<!--=========================
    DASHBOARD ORDER START
==========================-->
<section class="dashboard pt_120 xs_pt_80">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-4 wow fadeInLeft">
                <div class="dashboard_sidebar">
                    <div class="dashboard_sidebar_user">
                        <div class="img">
                            <img src="assets/package-user/images/dashboard_user_img.png" alt="dashboard" class="img-fluid w-100">
                            <label for="profile_photo"><i class="far fa-camera"></i></label>
                            <input type="file" id="profile_photo" hidden>
                        </div>
                        <h3>Addition Smith</h3>
                        <p>Paris, France</p>
                    </div>
                    <div class="dashboard_sidebar_menu">
                        <ul>
                            <li><a href="/dashboard"><i class="fas fa-user"></i> Personal
                                    Info</a></li>
                            <li><a class="active" href="/dashboard-order"><i class="fas fa-shopping-basket"></i> Order</a></li>
                            <li><a href="/dashboard-wishlist"><i class="fas fa-heart"></i> Wishlist</a></li>
                            <li><a href="/dashboard-change-password"><i class="fas fa-key"></i> Change
                                    Password</a></li>
                            <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><i
                                        class="fas fa-sign-out-alt"></i> Logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-9 col-lg-8 wow fadeInRight">
                <div class="dashboard_content">
                    <h2 class="dashboard_title">Order History</h2>
                    <div class="dashboard_order">
                        <div class="table-responsive">
                            <table>
                                <tbody>
                                    <tr>
                                        <th>Order</th>
                                        <th>Date</th>
                                        <th>Status</th>
                                        <th>Amount</th>
                                        <th>Action</th>
                                    </tr>
                                    <tr>
                                        <td>#8354</td>
                                        <td>July 16, 2023</td>
                                        <td>$200</td>
                                        <td><span class="complete">Completed</span></td>
                                        <td><a href="dashboard_order_invoice.html">View Details</a></td>
                                    </tr>
                                    <tr>
                                        <td>#3548</td>
                                        <td>June 23, 2023</td>
                                        <td>$60</td>
                                        <td><span class="active">Active</span></td>
                                        <td><a href="dashboard_order_invoice.html">View Details</a></td>
                                    </tr>
                                    <tr>
                                        <td>#4583</td>
                                        <td>Aug 18, 2023</td>
                                        <td>$180</td>
                                        <td><span class="complete">Completed</span></td>
                                        <td><a href="dashboard_order_invoice.html">View Details</a></td>
                                    </tr>
                                    <tr>
                                        <td>#1438</td>
                                        <td>June 22, 2023</td>
                                        <td>$140</td>
                                        <td><span class="complete">Completed</span></td>
                                        <td><a href="dashboard_order_invoice.html">View Details</a></td>
                                    </tr>
                                    <tr>
                                        <td>#3484</td>
                                        <td>Jan 12, 2023</td>
                                        <td>$80</td>
                                        <td><span class="cancel">Cancel</span></td>
                                        <td><a href="dashboard_order_invoice.html">View Details</a></td>
                                    </tr>
                                    <tr>
                                        <td>#8453</td>
                                        <td>May 14, 2023</td>
                                        <td>$240</td>
                                        <td><span class="cancel">Cancel</span></td>
                                        <td><a href="dashboard_order_invoice.html">View Details</a></td>
                                    </tr>
                                    <tr>
                                        <td>#1345</td>
                                        <td>June 23, 2023</td>
                                        <td>$200</td>
                                        <td><span class="active">Active</span></td>
                                        <td><a href="dashboard_order_invoice.html">View Details</a></td>
                                    </tr>
                                    <tr>
                                        <td>#4318</td>
                                        <td>Aug 20, 2023</td>
                                        <td>$200</td>
                                        <td><span class="complete">Completed</span></td>
                                        <td><a href="dashboard_order_invoice.html">View Details</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>