
<div class="wrapper">
    <!-- Sidebar -->
    <div class="sidebar" data-background-color="dark">
      <div class="sidebar-logo">
        <!-- Logo Header -->
        <div class="logo-header" data-background-color="dark">
          <a [routerLink]="['/']" class="logo">
            <img src="assets/img/kaiadmin/logo_light.svg" alt="navbar brand" class="navbar-brand" height="20" />
          </a>
          <div class="nav-toggle">
            <button class="btn btn-toggle toggle-sidebar">
              <i class="gg-menu-right"></i>
            </button>
            <button class="btn btn-toggle sidenav-toggler">
              <i class="gg-menu-left"></i>
            </button>
          </div>
          <button class="topbar-toggler more">
            <i class="gg-more-vertical-alt"></i>
          </button>
        </div>
        <!-- End Logo Header -->
      </div>
      <div class="sidebar-wrapper scrollbar scrollbar-inner">
        <div class="sidebar-content">
          <ul class="nav nav-secondary">
            <li class="nav-item active">
              <a data-bs-toggle="collapse" href="#dashboard" class="collapsed" aria-expanded="false">
                <i class="fas fa-home"></i>
                <p>Dashboard</p>
                <span class="caret"></span>
              </a>
              <div class="collapse" id="dashboard">
                <ul class="nav nav-collapse">
                  <li>
                    <a [routerLink]="['/admin']">
                      <span class="sub-item">Dashboard</span>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="nav-section">
              <span class="sidebar-mini-icon">
                <i class="fa fa-ellipsis-h"></i>
              </span>
              <h4 class="text-section">Components</h4>
            </li>
            <li class="nav-item">
              <a data-bs-toggle="collapse" href="#submenu">
                <i class="fas fa-bars"></i>
                <p>Tables</p>
                <span class="caret"></span>
              </a>
              <div class="collapse" id="submenu">
                <ul class="nav nav-collapse">
                  <li>
                    <a data-bs-toggle="collapse" href="#subnav1">
                      <span class="sub-item">Categories</span>
                      <span class="caret"></span>
                    </a>
                    <div class="collapse" id="subnav1">
                      <ul class="nav nav-collapse subnav">
                        <li>
                          <a [routerLink]="['/admin/category']">
                            <span class="sub-item">Category List</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li>
                    <a data-bs-toggle="collapse" [routerLink]="['/admin/orders']">
                      <span class="sub-item">Orders</span>
                      <span class="caret"></span>
                    </a>
                  </li>
                  <li>
                    <a data-bs-toggle="collapse" href="#subnav2">
                      <span class="sub-item">Products</span>
                      <span class="caret"></span>
                    </a>
                    <div class="collapse" id="subnav2">
                      <ul class="nav nav-collapse subnav">
                        <li>
                          <a [routerLink]="['/admin/product']">
                            <span class="sub-item">Product</span>
                          </a>
                        </li>
                        <li>
                          <a [routerLink]="['/admin/product/add']">
                            <span class="sub-item">Add Product</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li>
                    <a data-bs-toggle="collapse" [routerLink]="['/admin/category-post']">
                      <span class="sub-item">Category post</span>
                      <span class="caret"></span>
                    </a>
                  </li>
                  <li>
                    <a data-bs-toggle="collapse" href="#subnav3">
                      <span class="sub-item">Atrribute and Option Product</span>
                      <span class="caret"></span>
                    </a>
                    <div class="collapse" id="subnav3">
                      <ul class="nav nav-collapse subnav">
                        <li>
                          <a [routerLink]="['/admin/attribute']">
                            <span class="sub-item">Attribute</span>
                          </a>
                        </li>
                        <li>
                          <a [routerLink]="['/admin/option']">
                            <span class="sub-item">Option</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li>
                    <a data-bs-toggle="collapse" href="#subnav5">
                      <span class="sub-item">Post</span>
                      <span class="caret"></span>
                    </a>
                    <div class="collapse" id="subnav5">
                      <ul class="nav nav-collapse subnav">
                        <li>
                          <a [routerLink]="['/admin/post']">
                            <span class="sub-item">Post</span>
                          </a>
                        </li>
                        <li>
                          <a [routerLink]="['/admin/post/add']">
                            <span class="sub-item">Add Post</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li>
                    <a data-bs-toggle="collapse" href="#subnav4">
                      <span class="sub-item">Comments</span>
                      <span class="caret"></span>
                    </a>
                    <div class="collapse" id="subnav4">
                      <ul class="nav nav-collapse subnav">
                        <li>
                          <a [routerLink]="['/admin/comment']">
                            <span class="sub-item">Comment</span>
                          </a>
                        </li>
                        <li>
                          <a [routerLink]="['/admin/request-approve']">
                            <span class="sub-item">Request Comments</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a data-bs-toggle="collapse" href="#base">
                <i class="fas fa-layer-group"></i>
                <p>Accounts</p>
                <span class="caret"></span>
              </a>
              <div class="collapse" id="base">
                <ul class="nav nav-collapse">
                  <li>
                    <a href="#">
                      <span class="sub-item">Customer Management</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <span class="sub-item">Contact Management</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <span class="sub-item">Opportunity Management</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <span class="sub-item">Sales Management</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <span class="sub-item">Customer Service Management</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <span class="sub-item">Marketing Management</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <span class="sub-item">Reporting and Analytics</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <span class="sub-item">Project Management</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <span class="sub-item">Document Management</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <span class="sub-item">Task and Calendar Management</span>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a data-bs-toggle="collapse" href="#tables">
                <i class="fas fa-table"></i>
                <p>Order</p>
                <span class="caret"></span>
              </a>
              <div class="collapse" id="tables">
                <ul class="nav nav-collapse">
                  <li>
                    <a href="tables/tables.html">
                      <span class="sub-item">Order Management</span>
                    </a>
                  </li>
                  <li>
                    <a href="tables/datatables.html">
                      <span class="sub-item">Card Management</span>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
          
  
          </ul>
        </div>
      </div>
    </div>
    <!-- End Sidebar -->
  
    <div class="main-panel">
      <app-header></app-header>
      <div class="container">
        <router-outlet></router-outlet>
      </div>
      <app-footer></app-footer>
    </div>
  
    <!-- Custom template | don't include it in your project! -->
    <div class="custom-template">
      <div class="title">Settings</div>
      <div class="custom-content">
        <div class="switcher">
          <div class="switch-block">
            <h4>Logo Header</h4>
            <div class="btnSwitch">
              <button type="button" class="selected changeLogoHeaderColor" data-color="dark"></button>
              <button type="button" class="changeLogoHeaderColor" data-color="blue"></button>
              <button type="button" class="changeLogoHeaderColor" data-color="purple"></button>
              <button type="button" class="changeLogoHeaderColor" data-color="light-blue"></button>
              <button type="button" class="changeLogoHeaderColor" data-color="green"></button>
              <button type="button" class="changeLogoHeaderColor" data-color="orange"></button>
              <button type="button" class="changeLogoHeaderColor" data-color="red"></button>
              <button type="button" class="changeLogoHeaderColor" data-color="white"></button>
              <br />
              <button type="button" class="changeLogoHeaderColor" data-color="dark2"></button>
              <button type="button" class="changeLogoHeaderColor" data-color="blue2"></button>
              <button type="button" class="changeLogoHeaderColor" data-color="purple2"></button>
              <button type="button" class="changeLogoHeaderColor" data-color="light-blue2"></button>
              <button type="button" class="changeLogoHeaderColor" data-color="green2"></button>
              <button type="button" class="changeLogoHeaderColor" data-color="orange2"></button>
              <button type="button" class="changeLogoHeaderColor" data-color="red2"></button>
            </div>
          </div>
          <div class="switch-block">
            <h4>Navbar Header</h4>
            <div class="btnSwitch">
              <button type="button" class="changeTopBarColor" data-color="dark"></button>
              <button type="button" class="changeTopBarColor" data-color="blue"></button>
              <button type="button" class="changeTopBarColor" data-color="purple"></button>
              <button type="button" class="changeTopBarColor" data-color="light-blue"></button>
              <button type="button" class="changeTopBarColor" data-color="green"></button>
              <button type="button" class="changeTopBarColor" data-color="orange"></button>
              <button type="button" class="changeTopBarColor" data-color="red"></button>
              <button type="button" class="selected changeTopBarColor" data-color="white"></button>
              <br />
              <button type="button" class="changeTopBarColor" data-color="dark2"></button>
              <button type="button" class="changeTopBarColor" data-color="blue2"></button>
              <button type="button" class="changeTopBarColor" data-color="purple2"></button>
              <button type="button" class="changeTopBarColor" data-color="light-blue2"></button>
              <button type="button" class="changeTopBarColor" data-color="green2"></button>
              <button type="button" class="changeTopBarColor" data-color="orange2"></button>
              <button type="button" class="changeTopBarColor" data-color="red2"></button>
            </div>
          </div>
          <div class="switch-block">
            <h4>Sidebar</h4>
            <div class="btnSwitch">
              <button type="button" class="changeSideBarColor" data-color="white"></button>
              <button type="button" class="selected changeSideBarColor" data-color="dark"></button>
              <button type="button" class="changeSideBarColor" data-color="dark2"></button>
            </div>
          </div>
        </div>
      </div>
      <div class="custom-toggle">
        <i class="icon-settings"></i>
      </div>
    </div>
    <!-- End Custom template -->
  </div>